.Navbar {
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  color: white;
  background-color: #2d205f;
  z-index: 1;
  height: 55px;
  width: 100vw;
  padding: 2px 25px;
}
