@import './EngagementBar.scss';
@import './GalleryComments.scss';

.gallery {
  width: 90%;
  max-width: 1152px;
  position: relative;
  padding-top: 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;

  .gallery-main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    opacity: 1;
    flex-grow: 1;
    align-content: stretch;
    z-index: 1;
    min-width: 0;
    transition: opacity 5ms linear;

    .gallery-engagement-bar {
      width: 60px;
      flex: 0 0 60px;
      z-index: 3;
    }

    .gallery-content-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 24px;
      padding: 0 24px 24px;
      min-width: 0;

      .insideContentWrapper {
        .gallery-content {
          width: 100%;
          .content-header {
            position: relative;
            z-index: 1;

            .gallery-title {
              font-size: 24px;
              line-height: 130%;

              .title-row {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                .navigate-other-post {
                  font-size: 14px;
                  line-height: 14px;
                  padding: 10px 11px;
                  color: #fff;
                  display: flex;
                  align-items: center;
                  height: 36px;
                }
              }
            }

            .gallery-posted-info {
              display: flex;
              justify-content: flex-start;
              height: 40px;
              align-items: center;
              margin: 16px 0 24px;

              .author-link {
                color: #01b96b;
                img {
                  border-radius: 50%;
                  height: 32px;
                  width: 32px;
                  overflow: hidden;
                  transition: transform 0.2s ease-in-out;
                }
              }

              .info-wrapper {
                display: flex;
                flex-direction: column;
                margin: 0 32px 0 12px;
                flex-grow: 1;
                justify-content: space-around;
                overflow: hidden;

                .info {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  font-size: 14px;
                  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
                  align-items: center;

                  .author-name {
                    min-width: 0;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    font-family: Proxima Nova Bold, Helvetica Neue, Helvetica,
                      Arial, sans-serif;
                    color: #1bb76e;
                    cursor: pointer;
                  }
                  .give-emerald {
                    margin-left: 12px;
                    min-width: 98px;
                    background-color: #6432f9;
                    border-radius: 3px;
                    margin-top: 2px;
                    a {
                      font-family: Proxima Nova Bold, Helvetica Neue, Helvetica,
                        Arial, sans-serif;
                      font-size: 12px;
                      height: 24px;
                      min-width: 24px;
                      height: 18px;
                      padding: 2px 5px;
                      display: flex;
                      align-items: center;
                      justify-content: space-around;

                      text-decoration: none;
                    }

                    span,
                    svg {
                      font-family: Proxima Nova Bold, Helvetica Neue, Helvetica,
                        Arial, sans-serif;
                      font-size: 12px;
                      cursor: pointer;
                      color: #fff;
                    }
                  }
                }

                .meta {
                  font-family: Proxima Nova Regular, Helvetica Neue, Helvetica,
                    Arial, sans-serif;
                  color: #3e4043;
                  font-size: 12px;
                  line-height: 12px;
                  margin-top: 4px;
                }
              }

              .gallery-options {
                .dropdown-toggle:after {
                  display: none;
                }
                .item {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  color: #6c757d;
                  padding: 2px 8px;

                  &:hover {
                    svg path {
                      fill: black;
                    }
                    span {
                      color: black;
                    }
                  }
                  svg {
                    color: #6c757d;
                    width: 24px;
                    height: 24px;
                  }

                  span {
                    padding-left: 12px;
                  }
                }
              }
            }
          }
          .content-wrapper {
            .media-container {
              display: flex;
              flex-direction: column;
              justify-content: center;

              .media {
                max-width: 100%;
                margin-bottom: 24px;
                min-height: 140px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                .imgContainer {
                  img {
                    max-height: 750px;
                    display: block;
                    margin: 0 auto;
                    max-width: 100%;
                  }

                  .dropdown {
                    position: relative;
                    font-size: 16px;
                    .dropdown-title {
                      font-weight: 600;
                      letter-spacing: 1.5px;
                      text-align: right;
                      color: #babec4;
                      cursor: pointer;
                      border-radius: 3px;
                      width: 24px;
                      height: 24px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                    }
                  }
                  .dropdown-media {
                    position: absolute;
                    right: 16px;
                    top: 16px;
                    visibility: hidden;
                  }
                }

                .post-video {
                  position: relative;
                  overflow: hidden;
                  text-align: center;
                  width: 100%;
                  .wrapper {
                    display: flex;
                    justify-content: center;
                    isolation: auto;
                    max-height: 80vh;

                    .video-wrapper {
                      display: flex;
                      justify-content: center;
                      isolation: auto;
                      max-height: 80vh;
                      video {
                        width: 480px;
                        height: 806px;
                        max-height: 80vh;
                        display: block;
                        margin: 0 auto;
                        max-width: 100%;
                      }
                    }
                  }
                }
              }
              .media-descr {
                margin-bottom: 24px;
                padding: 0 24px;
                font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
                font-size: 16px;
                line-height: 150%;
                color: hsla(0, 0%, 100%, 0.9);
                white-space: pre-wrap;
                word-wrap: break-word;
              }
            }
          }
        }

        .comment-list {
          min-height: 500px;
        }
      }
    }
  }

  .gallery-sidebar {
    flex: 0 0 320px;
    position: relative;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;

  .tag {
    margin: 8px 10px 0 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 54px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #eff1f4;
    text-shadow: 0 1px 4px #000;
    padding: 8px 30px;
    display: inline-block;
    font-family: Proxima Nova Bold, Helvetica Neue, Helvetica, Arial, sans-serif;
    transition: box-shadow 0.2s ease-out;
    text-transform: lowercase;
  }
}
